<div class="item-modal-backdrop is-hidden">
  <div class="item-modal">
    <button class="item-modal__close-btn">
      <svg class="item-modal__close-btn-icon">
        <use href="../images/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="item-modal__wrapper"></div>
  </div>
</div>

<!-- Подключение модалки на страницу hero.html -->

<!-- Начало инструкции -->
<!-- <!DOCTYPE html>
<section class="main-section">
  <div class="container">
    <ul class="films-list"></ul>
  </div>
</section>
<!--buttons for header in My lybrary section -->

<!-- Начало МОДАЛКИ -->
<!-- <div class="item-modal-backdrop is-hidden">
  <div class="item-modal">
    <button class="item-modal__close-btn">
      <svg class="item-modal__close-btn-icon">
        <use href="./images/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="item-modal__wrapper"></div>
  </div>
</div>
<!-- Конец МОДАЛКИ -->

<!-- <div class="header-buttons-library">
  <button class="library-btn">WATCHED</button>
  <button class="library-btn">QUEUE</button>
</div> -->
--> -->
<!-- Конец инструкции -->

<!-- <div class="item-modal-backdrop is-hidden">
  <div class="item-modal">
    <button class="item-modal__close-btn">
      <svg class="item-modal__close-btn-icon">
        <use href="../images/sprite.svg#modal-close"></use>
      </svg>
    </button> -->
<!-- <div class="item-modal__img-box"><img src="#" alt="#" class="item-modal__img" /></div>
    <div class="item-desc__box">
      <h3 class="item-modal__title">#Film name</h3>
      <ul class="item-modal__txt">
        <li class="item-modal__txt-line">
          <p class="item-modal__txt-prop">Vote/Votes</p>
        <p class="item-modal__txt-prop-value item-modal__txt-prop-value--num">
          <span class="item-modal__txt-prop-value--orange">#Vote</span>/#Votes</span
        ></p>
      </li>
        <li class="item-modal__txt-line">
          <p class="item-modal__txt-prop">Popularity</p>
        <p class="item-modal__txt-prop-value item-modal__txt-prop-value--num">#Popularity</p>
      </li>
        <li class="item-modal__txt-line">
          <p class="item-modal__txt-prop">Original Title</p>
        <p class="item-modal__txt-prop-value">#Original Title</p>
      </li>
        <li class="item-modal__txt-line">
          <p class="item-modal__txt-prop">Genre</p>
        <p class="item-modal__txt-prop-value">#Genres</p>
      </li>
      </ul>
      
      <h4 class="item-modal__subtitle">About</h4>
      <p class="item-modal__desc">#About</p>
      <div class="item-modal__btns">
        <button class="item-modal__btn focused">add to Watched</button>
        <button class="item-modal__btn">add to queue</button>
      </div>
    </div> -->
<!-- </div>
</div> -->
