<!DOCTYPE html>

<div class="filters">

    <h3 class="filters_title">Choose your favorite genres</h3>    
        <p id="filters-values" class="filters_values"></p>

    <div class="filters_genres-hidden js-hide">
    <ul class="filters_list js-filters-list">
        
        <!-- <li class="filters_item">
            <input type="checkbox"  value="action" class="filters_checkbox js-filters-check" id="action">
            <label class="filters_label" for="action">action</label>
        </li>
        <li class="filters_item">
            <input type="checkbox" value="documentary" class="filters_checkbox js-filters-check" id="documentary">
            <label class="filters_label" for="documentary">documentary</label>
        </li>
        <li class="filters_item">
            <input type="checkbox" value="comedy" class="filters_checkbox js-filters-check" id="comedy">
            <label class="filters_label" for="comedy">comedy</label>
        </li> -->
        
    </ul>
    </div>
    </div>

</div>