
<div class="arrow-item">
    <a class="arrow-btn">
  <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-arrow-up" width="44" height="44"></use>
  </svg>
</a>
</div>

<!-- <div class="arrow-item">
    <a class="arrow-btn">
        <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-circle-up" width="44" height="44"></use>
  </svg>
</a>
</div> -->

<!-- <div class="arrow-item">
    <a class="arrow-btn">
        <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-arrow-up-outline" width="44" height="44"></use>
  </svg>
</a>
</div> -->
<!-- 
<div class="arrow-item">
    <a class="arrow-btn">
        <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-chevrons-up" width="44" height="44"></use>
  </svg>
</a>
</div> -->

<!-- <div class="arrow-item">
    <a class="arrow-btn">
        <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-arrow-circle-up" width="44" height="44"></use>
  </svg>
</a>
</div> -->

<!-- <div class="arrow-item">
    <a class="arrow-btn">
        <svg class="arrow-btn-icon">
    <use href="./images/symboldefs.svg#icon-chevron-up" width="44" height="44"></use>
  </svg>
</a>
</div> -->

