<ul class="ontop-list">
  <li class="arrow-item" id="arrowTop" hidden data-on-top>
    <a class="arrow-item-up">
      <svg class="arrow-item-icon">
        <use href="./images/sprite.svg#icon-chevrons-up" width="44" height="44"></use>
      </svg>
    </a>
  </li>

  <li class="arrow-item arrow-item-show" id="arrowBottom" data-on-down>
    <a class="arrow-item-down">
      <svg class="arrow-item-icon">
        <use href="./images/sprite.svg#icon-chevrons-down" width="44" height="44"></use>
      </svg>
    </a>
  </li>
</ul>
