.filters{
    width: 400px;
    // height: 100%;
    background: #232234;
    padding: 24px;
    border-radius: 25px;
}

.filters_title{
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.filters_genres-hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.filters_values{
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
    color: #b8b8b8;
    padding: 16px;
    background-color: #1e1e2e;
    margin-bottom: 20px;
    border-top: 4px solid #383854;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.filters_item{
    border: 1px solid #383854;
    border-bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    
    &:first-child{
        border-radius: 15px 15px 0 0;
    }
    &:last-child {
        border-radius: 0 0 15px 15px;
        border-bottom: 1px solid #383854;
    }
}

.filters_checkbox{
    color: #fff;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.filters_label{
    text-transform: capitalize;
    font-size: 22px;
    color: #fff;
    margin-left: 20px;
    display: block;
    width: 100%;
}



