#search-form {
    font: inherit;
    padding: 8px;
    /* max-width: 320px; */
    /* min-width: 500px; */
    margin-bottom: 16px;
    text-align: center;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

input {
    width: 200px;
    height: 30px;
}

.button-submit {
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}