.hero-title {
    font-size: 50px
}

.main-section {
    @media screen and (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.films-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


// buttons for header in My library section

