.hero-title {
    font-size: 50px
}

.main_section {
    @media screen and (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1024px) {
        width: 1024px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media screen and (max-width: 767px) {
        width: 320px;
    }
}

.films-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}