.arrow {
  display: none;
  position: fixed;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  z-index: 9999;
}
.arrow-up {
  bottom: 60px;
  @media screen and (min-width: 768px) {
    right: 30px;
  }
}
.arrow-down {
  bottom: 20px;
  @media screen and (min-width: 768px) {
    right: 30px;
    @media screen and (min-width: 1024px) {
    }
  }
}
.arrow-show {
  display: block;
}
// .arrow-disabled {
//   pointer-events: none;
//   cursor: default;
//   opacity: 0;
// }
.arrow-icon {
  fill: $orange-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  &:hover,
  &:focus {
    fill: $black-color;
  }
}
