// spinner on button click 

// [type="submit"] {
//   display: inline-block;
//   font-family: inherit;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #212529;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   user-select: none;
//   -webkit-appearance: button;
//   background-color: #eee;
//   border: 1px solid #bdbdbd;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   border-radius: 0.25rem;
//   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
//   text-transform: none;
// }

// [type="submit"]:disabled {
//   color: #212529;
//   background-color: #eee;
//   border-color: #bdbdbd;
//   pointer-events: none;
//   opacity: .65;
// }

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.submit-spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.submit-spinner_hide {
  display: none;
}