body.dark-theme {
  color: $white-color;
  background-color: rgb(1, 1, 1);
  background-image: url(../images/stars.jpg);
}

.switch {
  border-radius: 0.75em;
  color: #fdea7b;
  display: flex;
  align-items: center;
  margin: 0 80px 0 auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.switch:before,
.switch:after {
  content: '';
  display: block;
}

.switch:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.switch:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
    repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
}

/* Checked */
.switch:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}

.switch:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}

.switch:focus {
  outline: 0;
}

.dark-theme .footer,
.dark-theme .js-open-modal {
  color: $white-color;
  background-color: $black-color;
}

.dark-theme .item-modal,
.dark-theme .item-modal__close-btn {
  background-color: $black-color;
}

.dark-theme .item-modal__close-btn-icon{
  fill: $white-color
}