.lang {
  position: absolute;
  right: 35px;
}

.lang-site {
  z-index: 2;
  position: absolute;
  top: -31px;
  transform: scaleY(0.4);
  /* zwijamy cały element */
  -webkit-transform: scaleY(0.4);
  transform-origin: 50% 50%;
  /* ustawiamy punkt zwijania względem środka górnej krawędzi */
  -webkit-transform-origin: 50% 50%;
  transition: 200ms;
}

.lang-site__link,
.lang-site__link--other {
  // font-family: var(--second-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.lang-site:hover .lang-site__link3 {
  visibility: hidden;
}

.lang-site__link--sticky {
  position: absolute;
  z-index: 1;
  top: -4px;
}

.lang-site__link--other {
  visibility: hidden;
}

.lang-site:hover {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  // background-color: black;
}

.lang-site:hover .lang-site__link--other:nth-child(1) {
  visibility: visible;
}

// .lang-site:hover .lang-site__link--other:nth-child(2) {
//   background-color: black;
//   visibility: hidden;
// }

.lang-site__item {
  margin: 6px 0;
}

.lang-site__item:hover .link {
  color: #ff6b08;
}