.lang {
  position: absolute;
  right: 35px;
}

.lang-site {
  position: absolute;
  right: 0;
  top: -30px;
  transform: scaleY(0.3);
  transition: 200ms;
}

.lang-site__link--other {
  visibility: hidden;
}

.lang-site:hover {
  transform: scaleY(1);
}

.lang-site:hover .lang-site__link--other {
  visibility: visible;
}

.lang-site__item {
  margin: 6px 0;
}

.footer__lang--ua {
  display: none;
}

.footer__lang--pl {
  display: none;
}

.filters__center {
  text-align: center;
}

.ua {
  .footer__lang {
    display: none;
  }

  .footer__lang--ua {
    display: contents;
  }

  .js-open-modal {
    visibility: hidden;

    &::before {
    visibility: visible;
    content: attr(data-ua);
    }
  }

  .slider-title {
    visibility: hidden;
    padding-left: 130px;

    &::before {
      visibility: visible;
      content: attr(data-ua);
    }
  }

  .filters__choose.filters__btn {
    visibility: hidden;
    padding-left: 235px;

    &::before {
      visibility: visible;
      content: attr(data-ua);
    }
  }

  .filters__text {
    visibility: hidden;
    padding-left: 215px;
    &::before {
      visibility: visible;
      content: attr(data-ua);
    }
  }

  .filters__chosen {
    visibility: hidden;
    // padding-left: 215px;

    &::after {
      visibility: visible;
      content: attr(data-ua);
    }
  }

  .filters__center {
    padding-right: 70px;
  }
}

.pl {
  .footer__lang {
    display: none;
  }

  .footer__lang--pl {
    display: contents;
  }

  .js-open-modal {
    visibility: hidden;

    &::before {
      visibility: visible;
      content: attr(data-pl);
    }
  }

  .slider-title {
    visibility: hidden;
    padding-left: 130px;

    &::before {
      visibility: visible;
      content: attr(data-pl);
    }
  }

  .filters__choose.filters__btn {
    visibility: hidden;
    padding-left: 235px;

    &::before {
      visibility: visible;
      content: attr(data-pl);
    }
  }

  .filters__text {
    visibility: hidden;
    padding-left: 215px;
    &::before {
      visibility: visible;
      content: attr(data-pl);
    }
  }

  .filters__chosen {
    visibility: hidden;
    // padding-left: 215px;

    &::after {
      visibility: visible;
      content: attr(data-pl);
    }
  }

  .filters__center {
    padding-right: 70px;
  }
}